{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="icon" href="{% static 'icons/favicon.ico' %}" type="image/x-icon">
  <title>{% block title %}Chat your Docs{% endblock %}</title>
</head>
<body>
  <header>
      <div>
        <img id="logo" src="{% static 'images/logo.png' %}" alt="Logo">   
        <a href="/" style="margin-right: 10px; font-weight: bold; text-decoration: none; color: #CCCCCC;">                         
          <span style="margin-left: 50px; margin-right: 10px">Chat</span> - <a href="/documents/" style="font-weight: bold; text-decoration: none; color: #CCCCCC;">Data</a>
       </a>      
      </div>
  </header>
  {% block content %}
  <!-- Page content here -->
  {% endblock %}
</body>
</html>
